/**
 * Wrapper
 */
.wrapper {
    //max-width: -webkit-calc(700px - (#{$spacing-unit} * 2));
    //max-width:         calc(700px - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;

    position: relative;
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
	content: "";
	display: table;
	clear: both;
    }
}
