<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}"
      a="{{ site.theme_config.appearance | default: "auto" }}">
  {%- include head.html -%}
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
	<img
          src="{{ page.profile_picture.src | absolute_url }}"
          alt="{{ page.profile_picture.alt }}"
          class="profilepic"
          />
        {{ content }}
	<a
	  target="_blank"
	  class="align-middle link-primary mr-2 mr-lg-0 ml-lg-2"
	  href="/static/manuscrit.pdf"
	  >Brouillon du manuscrit</a>
	<a
	  href="https://icfp20.sigplan.org/details/mlfamilyworkshop-2020-papers/2/Quantified-Applicatives-API-design-for-type-inference-constraints"
	>ML Workshop 2020</a>
      </div>
    </main>
  </body>
</html>
